@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "About";
}

@Html.Partial("_PartialCategories")

<div class="container">
    <hr />

    <div class="row">
        <div class="col">
            <div class="row">
                <h2>
                    Hakkımızda daha fazla bilgi almak isteyebilirsiniz ..
                </h2>

                <p>Consectetur adipiscing elit fusce vel.</p>
                <p>Sapien elit in malesuada semper.</p>
                <p>Mi, id sollicitudin urna fermentum.</p>
                <p>Ut fusce varius nisl ac.</p>
                <p>Ipsum gravida vel pretium tellus.</p>
            </div>
        </div>
    </div>
</div>