
@{
    ViewBag.Title = "RegisterOk";
}

<h2>RegisterOk</h2>

Kayıt başarılı e posta aktivasyonu yapılacak

<script>
    setTimeout(function () {
        window.location = "/Home/Index";
    }, 3000);
</script>